
<mat-card class="card" *ngFor="let review of reviews">
  <mat-card-header class="header">Author: {{review.author.name}}</mat-card-header>
  <mat-card-content class="content">{{review.content}}</mat-card-content>
  <div>
    <div class="buttons">
      <div class="votes">
        <div class="button like"><i class="fas fa-thumbs-up"></i></div>
        <div class="button dislike"><i class="fas fa-thumbs-down"></i></div>
      </div>
      <div class="button update" *ngIf="review.isAuthor" (click)="updateReview(review)"><i class="fas fa-pen"></i></div>
      <div class="button delete" *ngIf="review.isAuthor" (click)="deleteReview(review.id)"><i class="fas fa-trash"></i>
      </div>
      <button type="button" class="flag"><i class="fa fa-flag"></i></button>
    </div>
  </div>
</mat-card>
