.card {
  width: 727px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.borrow {
  border-top-right-radius: 8%;
  width: 100px;
  height: 50px;
  color: rgb(0, 145, 241);
  background-color: #ffffff;
}

.borrow:hover {
  background-color: rgb(0, 145, 241);
  color: #ffff
}

.flag {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 8px;
  width: 40px;
  height: 50px;
  color: rgb(241, 0, 0);
}

.flag:hover {
  background-color: rgba(241, 0, 0, 0.781);
  color: #ffff
}

.buttons {
  padding-top: 5px;
  height: 55px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.votes {
  display: flex;
  align-self: flex-start;
}

.dislike {
  color: rgb(241, 0, 0);
}

.like {
  color: #1da1f2;
}

.button {
  border-radius: 50px;
  background-color: #ffffff;
  padding: 15px 15px;
  margin: 10px 10px;
  cursor: pointer;
  transition: all 0.3s
}

.button.like:hover {
  background-color: cornflowerblue;
  color: #ffff
}

.button.like:active {
  transform: rotate(-20deg);
}

.button.dislike:active {
  transform: rotate(20deg);
}


.button.dislike:hover {
  background-color: rgb(253, 36, 36);
  color: #ffff
}
