<mat-card>
  <form class="review" #myForm="ngForm" (ngSubmit)="createNewReview(myForm)">
    <div class="example-container">
      <mat-form-field calss="form">
        <textarea #myContent="ngModel" matInput name="content" placeholder="Type your new review here." 
        id="content"
          ngModel required minlength="10" pattern="^[A-Za-z\d .,:%@!?-]+$"></textarea>
      </mat-form-field>
      <div *ngIf="myContent.dirty && myContent.invalid && !!myContent.control.errors.minlength" class="invalidInput">
        Content must be at least 10 symbols long</div>
      <div *ngIf="myContent.dirty && myContent.invalid && !!myContent.control.errors.required" class="invalidInput">
        Please, provide valid content.</div>
    </div>
    <div class="buttonGroup">
      <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid">Submit &nbsp; <mat-icon>
          message</mat-icon></button>
    </div>
  </form>

</mat-card>
