.auth-list-item {
  margin: 1px;
  padding: 8px;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
  display: block;
  line-height: 20px;
}
h1:hover {
  color: #aaa
}
h1:focus {
  outline: none;
}
.navigation {
  cursor: pointer;
}