
.cats {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-width: 2px;
}