.outer {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

.books {
  margin: auto;
  margin-bottom: 14px;
  width: 333px;
  height: 125px;
}

h1 {
  text-align: center;
}

.books:focus {
  outline:none
}

.books:hover {
  cursor: pointer; 
  background-color: rgb(221, 221, 221);
}

.books:active {
  background-color: rgb(216, 216, 255);
}