<h1> Creator's Choice</h1>
<h2>This is my Library, if it peaks your interest make sure to register and check out what I have inside.
</h2>
<h2>
    And don't forget to return the books you borrow, so that other people can read them.
</h2>
<div class="outer">
  <mat-card class="books" *ngFor="let book of books" [routerLink]="['/books/', book.id]">
    <mat-card-title>
      <div class="title">
        <P> {{book.name}}</P>
      </div>
    </mat-card-title>
    <mat-card-header class="author">
      By: {{book.author}}
    </mat-card-header>
  </mat-card>
</div>
