<div class="flex">
  <div>
    <mat-card class="outer">
      <mat-card-header>
        <div class="name">
          <h1> {{book.name}}</h1>
        </div>
        <div class="author">By: {{book.author}}</div>
      </mat-card-header>
      <mat-card-subtitle class="subtitle">
        <div class="description">
          {{book.description}}
        </div>
      </mat-card-subtitle>
      <mat-card-content class="content">
        <div class="buttons">
          <button type="button" class="borrow" *ngIf="!book.isBorrowed" (click)="borrow()">Borrow</button>
          <button type="button" class="return" *ngIf="book.isBorrowed && statusId" (click)="return()">Return</button>
          <button type="button" class="flag"><i class="fa fa-flag fa-2x"></i></button>
        </div>
      </mat-card-content>
    </mat-card>
    <app-create-review *ngIf="canUserWriteReview && !editMode" [bookId]="book.id"> </app-create-review>
    <app-update-review *ngIf="editMode" [bookId]="book.id" (closeEditMode)="editMode=false"></app-update-review>
  </div>
  <app-review class="reviews" [bookId]="book.id" (enableEditMode)="editMode=true"></app-review>
</div>
