.mat-card-subtitle {
  margin: 0;
}

.content {
  height: 50px
}

.description {
  height: 360px;
}

.borrow {
  border-top-right-radius: 8%;
  width: 100px;
  height: 50px;
  color: rgb(0, 145, 241);
  background-color: #ffffff;
}

.borrow:hover {
  background-color: rgb(0, 145, 241);
  color: #ffff
}

.return {
  border-top-right-radius: 8%;
  width: 100px;
  height: 50px;
  color: rgb(0, 145, 241);
  background-color: #ffffff;
}

.return:hover{
  background-color: rgb(0, 145, 241);
  color: #ffff
}

.flag {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 8px;
  width: 40px;
  height: 50px;
  color: rgb(241, 0, 0);
}

.flag:hover {
  background-color: rgba(241, 0, 0, 0.781);
  color: #ffff
}

.buttons{
  height: 50px;
  width:100%;
  display: flex;
  justify-content: space-between;
}

.outer {
  width: 727px;
  height: 487px;
}

.flex {
  width:727px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.paginator {
  width: 759px;
  margin-left: auto;
  margin-right: 130px;
  margin-bottom: 20px;
}