<div class="auth-centered">
  <mat-form-field>
    <input #name matInput placeholder="Name" type="name">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input #password matInput placeholder="Password" type="password">
  </mat-form-field>
  <br/>
  <button mat-raised-button color="primary" (click)="triggerLogin(name.value, password.value)">Login</button>
</div>