.books {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

.borrow {
  border-top-right-radius: 8%;
  width: 100px;
  height: 50px;
  color: rgb(0, 145, 241);
  background-color: #ffffff;
}

.borrow:hover {
  background-color: rgb(0, 145, 241);
  color: #ffff
}

.flag {
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 8px;
  width: 40px;
  height: 50px;
  color: rgb(241, 0, 0);
}

.flag:hover {
  background-color: rgba(241, 0, 0, 0.781);
  color: #ffff
}

.outer {
  margin: auto;
  margin-bottom: 14px;
  width: 333px;
  height: 125px;
}

.outer:focus {
  outline: none
}

.outer:hover {
  cursor: pointer;
  background-color: rgb(221, 221, 221);
}

.outer:active {
  background-color: rgb(216, 216, 255);
}

.content {
  height: 100px;
}

.paginator {
  width: 400px;
}
