<mat-paginator 
[length]="length" 
[pageSize]="pageSize" 
[pageSizeOptions]="pageSizeOptions"
(page)="onPaginationChange($event)" class="paginator">
</mat-paginator>

<form [formGroup]="searchForm">
  <mat-form-field>
    <input matInput placeholder="Search" formControlName="searchText" (keyup.enter)="searchBooks($event)">
  </mat-form-field>
  <mat-slide-toggle formControlName="searchName">Title</mat-slide-toggle>
  <mat-slide-toggle formControlName="searchAuthor">Author</mat-slide-toggle>
</form>

<div class="books">
  <mat-card class="outer" *ngFor="let book of books" [routerLink]="['/books/', book.id]">
    <mat-card-title>
      <div class="title">
        <P> {{book.name}}</P>
      </div>
    </mat-card-title>
    <mat-card-header class="author">
      By: {{book.author}}
    </mat-card-header>
  </mat-card>
</div>
