<mat-card>
  <form class="review" [formGroup]="myForm">
    <div class="example-container">
      <mat-form-field class="form">
        <textarea matInput formControlName="content" placeholder="Update your review here."></textarea>
      </mat-form-field>
      <div
        *ngIf="!!myForm.controls.content.dirty && !!myForm.controls.content.invalid && !!myContent.control.errors.minlength"
        class="invalidInput">Content must be at least 10 symbols long</div>
      <div
        *ngIf="!!myForm.controls.content.dirty && !!myForm.controls.content.invalid && !!myContent.control.errors.required"
        class="invalidInput">Please, provide valid content.</div>
    </div>
    <div class="buttonGroup">
      <button type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid"
        (click)="updatereview(myForm)">Submit &nbsp; <mat-icon>message</mat-icon></button>
        <button type="button" mat-raised-button color="warn" (click)="close()">Cancel &nbsp; <mat-icon>cancel_presentation</mat-icon></button>
    </div>
  </form>
</mat-card>
