.fill-space {
  flex: 1 1 auto;
}

.auth-username {
  margin-right: 20px;
}

button {
  margin: 2px;
}

.navigation {
  margin-left: 20%;
  margin-right: 40%;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
}
.home {
  cursor: pointer;
  color: #3F51B5;
}

.home:hover {
  color: rgb(24, 59, 255);
}
h1:focus {
  outline: none
}