<mat-toolbar>
  <button mat-button color="primary" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="home">
    <h1 routerLink="/home">Library</h1>
  </div>
  <span class="fill-space"></span>
  <ng-template [ngIf]="!loggedIn">
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
    <button mat-stroked-button color="primary" routerLink="/register">Register</button>
  </ng-template>
  <ng-template [ngIf]="loggedIn">
      <div class="navigation">
          <button mat-stroked-button color="primary" class="nav-link" routerLink="/books">Books</button>
        </div>
    <span class="auth-username">{{ username }} </span>
    <button mat-stroked-button color="primary" (click)="triggerLogout()">Logout</button>
  </ng-template>
</mat-toolbar>
