@import '~@angular/material/theming';

@include mat-core();
$my-theme-primary: mat-palette($mat-blue);
$my-theme-accent: map-palette($mat-green, A300, A400, A500 );

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent);

@include angular-material-theme($my-theme);