/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-toastr/toastr';

body {
  margin: 0;
  padding: 0;
}