<mat-sidenav-container class="auth-sidenav-container">
  <mat-sidenav #sidenav class="auth-sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-navbar [loggedIn]="isLogged" [username]="username" (toggle)="sidenav.toggle()" (logout)="logout()">
    </app-navbar>
    <div class="auth-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
