.auth-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.auth-sidenav {
  padding: 100px 4px;
  background: #555;
  width: 15%;
}

.auth-content {
  padding: 10px;
}